
body{
    margin: 7px;
}

header{
    background-color: orange
}

a{
    font-size: 17px;  
    margin: 15px;
}

header h1{
    text-align: center;
}

.tabla{
    display: flex;
    padding: 0;
}

th{
    background-color: orangered;
    padding: 10px;
}

footer{
    background-color: orange;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

main h2{
    text-align: center;
    text-decoration: underline;
}

.tabla2{
    width: 70%; 
}

.tabladiv{
    display: flex;
    justify-content: center;
}

.comidas{
    display: flex;
    justify-content: center;
}

td img{
    width: 3vw;
    height: 5vh;
}

.tabladiv th{
    padding: 0;
}